@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  margin: 0px;
  padding: 0px;
  background-image: url('./images/bg.png');
  background-size: cover;
}

.cmd_wrap {
  background-color: #c0c0c0;
}

.header {
  height: 125px;
}

.phone_menu_open {
  height: 100px;
  float: right;
  display: none;
}

.phone_menu {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 80%;
  display: none;
  background-color: rgba(152, 251, 152, 0.85);
  z-index: 2;
}

@media screen and (max-width: 890px) {
  .phone_menu_open {
    display: inline-block;
  }
  .phone_menu_close {
    height: 100px;
    float: right;
  }
  .pc_menu {
    display: none;
  }
}

.header_title {
  width: 275px;
  font-size: 50px;
  float: left;
  padding: 0px;
  margin: 0px 0px 0px 10px;
}

.header_title a {
  text-decoration: none;
  color: #391614;
}
@media screen and (max-width: 890px) {
  .header_title {
    width: 200px;
    font-size: 40px;
    margin: 10px;
  }
}

.header ul {
  margin: 10px;
  padding: 0px;
  float: right;
  list-style: none;
}

.header li {
  margin: 10px 20px;
  font-size: 30px;
  display: inline-block;
}

.header li a {
  text-decoration: none;
}
.header_menu a {
  color: #391614;
  position: relative;
}

.header_menu a::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: #391614;
  transition: all 0.3s ease 0s;
}
.header_menu a:hover::after {
  width: 100%;
}

.header_invite_button {
  padding: 10px;
  background-color: #cc33ff;
  border-radius: 40px 0px 0px 40px;
  transition: all 0.3s ease 0s;
}

.header_invite_button:hover {
  background-color: #d8bfd8;
}

.header_invite_button a {
  color: white;
}

.content {
  padding: 0px 50px;
  position: relative;
}

.content p {
  font-size: 20px;
}

.fearture_box {
  width: 400px;
}

.features {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.features li {
  display: inline-block;
  width: 500px;
  margin: 10px;
}

.features li p {
  margin: auto 0px;
}


.features li img {
  width: 300px;
  float: left;
  margin: 0px 10px 0px 0px;
  border-radius: 20px;
}
@media screen and (max-width: 890px) {
  .features li {
    width: 100%;
  }
  .features li img {
    float:none;
    width: 100%;
  }
}


.feature_invite_button {
  border-radius: 20px;
  background-color: #cc33ff;
  width: 300px;
  height: 100px;
  margin: 10px auto;
  text-align: center;
  position: relative;
}

.feature_invite_button a {
  border-radius: 20px;
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 30px;
  line-height: 100px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.feature_invite_button a:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

@media screen and (max-width: 890px) {
  .feature_invite_button {
    width: 100%;
  }
}


.command_menu {
  list-style: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
.command_menu li {
  border: 1px solid black;
  display: inline-block;
  font-size: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding: 5px;
}
.command_menu a {
  text-decoration: none;
  color: #391614;
}

#menu_all {
  background-color: #391614;
}
#menu_all a {
  color: white;
}

.command_box {
  padding: 10px 0;
  margin: 10px;
  font-size: 20px;
  display: block;
  background-color: #391614;
  border-radius: 5px;
}
.command_box p {
  padding: 10px;
  margin: 0px;
  color: white;
}
.command_description {
  padding: 10px;
  display: none;
}


#page_top{
  width: 100px;
  height: 100pxx;
  position: fixed;
  right: -100px;
  bottom: 50px;
  background: #ef3f40;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  text-decoration: none;
}
#page_top a::before{
  font-weight: 900;
  content: '↑';
  font-size: 75px;
  color: #fff;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

.footer {
  height: 150px;
  background-color: black;
  color: white;
  padding: 10px;
}

.footer_images {
  height: auto;
  width: 200px;
  margin: 10px auto;
  padding: 0px;
}

.footer_images img {
  width: 40px;
  height: auto;
  margin: 0px 10px;
}

.footer_buttons {
  width: 277px;
  margin: 10px auto;
}

.footer_buttons a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
}

.footer_buttons a::after {
  transform: translateY(-50%);
}

.footer_buttons a:hover {
  background: white;
	color: black;
}

.footer p {
  text-align: center;
}
